<%# frozen_string_literal: true %>
<h1>Voici les détails de votre simulation</h1>

<% if @simulation.message %>
  <p> <%= @simulation.quote["data"] %> </p>

  <h2>Les détails de votre simulation</h2>

  <h3>Primes pour chacune des garanties disponibles</h2>
  <ul>
      <% @simulation.quote["data"]["grossPremiums"].each do |cover, premium| %>
      <li> <%= "#{cover} : #{premium}€" %></li>
      <% end %>
  </ul>
  <h4>Deductible : <%= @simulation.data["deductible"] %></h4>
  <h4>Coverage Ceiling : <%= @simulation.data["coverageCeiling"] %></h4>


  <h3>Nos conseils</h2>
<% else %>
  <p> <%= @simulation.message%> </p>
<% end %>

<%= link_to 'Modifier la simulation', edit_simulation_contact_needs_path(@simulation.contact, simulation_id: @simulation.id) %>
<%= link_to 'Commencer une nouvelle simulation', simulation_profile_path %>