<%# frozen_string_literal: true %>
<h1>Nous avons d'abord besoin de vos informations</h1>

<%= simple_form_for(@contact) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email  %>
  <%= f.input :address  %>
  <%= f.input :phone_number %>
  <%= f.submit %>
<% end %>
